*.[oa]
/scripts/
/TODO
/try.py
/AddMask/screen-shot/
/AddMask/model_export/*
/AddMask/pictures_export/*.jpg
/AddMask/Mask/pics/
/AddMask/Mask/build/
/AddMask/Mask/lib/
/AddMask/Mask/try.py
/EraseMask/model_export/*
/EraseMask/pics_export/*
